#div-login {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 2px  #E1E1E1;
    width: 440px;
    padding: 20px 20px 60px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border-radius: 10px;
}
#formulario{
    margin-top: 30px;
}
.padingform{
    margin-top: 40px;
    font-size: 12px;
    color: #8A8A8A;
}
.padingtext{
    margin-top: 20px;
}
#btn{
    color: white;
    box-shadow: 2px 2px 2px 2px  rgba(160, 160, 160, 0.541);
    background-color: #4285F4;
}
.btn:hover{
    background-color: #4285F4;
    border-color: #4285F4;
}
.a{
    text-decoration: none;
    color: rgb(83, 144, 248);
    text-align: center;
}
#span{
    margin-right: 187px;
}
.b:hover{
    text-decoration: none;
    color: #5E97F6;
}
h4, h6{
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    .sm {
        width: 300px;
    }
}
#div-footer{
    width: 440px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

select.form-control:not([size]):not([multiple]) {
    height: 25px;
    font-size: 13px;
    padding: 0px;
    border: none;
    width: fit-content;height: 25px;
    font-size: 13px;
    padding: 0px;
}

#slc-idioma{
    color: #8A8A8A;
}

#input{
    border-top: none;
    border-right: none;
    border-left: none;
}