body {
  font-size: .875rem;
  background-color: #F1F1F1;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ff002b;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-sticky {
  position: relative;
  top: 20px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-right-color: #F1F1F1;
  margin-top: 5px;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 0px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 4px;
}

.form-control-dark {
  color: #e5e5e5cc;
  background-color: rgba(#e5e5e5cc);
  border-color: rgb(#e5e5e5cc);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgb(#e5e5e5cc);
}

.navbar{
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  padding: .5rem 1rem;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5cc; }
.border-bottom { border-bottom: 1px solid #e5e5e5cc; }

.p-0 {
  padding: 12px!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #e5e5e5cc;
  background-color: #e5e5e5cc;
  background-clip: padding-box;
  border: 1px solid #e5e5e5cc;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-dark {
  background-color: #ffff!important;
}

.w-100 {
  width: 50%!important;
}
 #PaginaPrincipal{
  color: rgba(134, 134, 134, 0.815); 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px
 }

 #font{
  margin-right: 30px;
  margin-left: 10px;
  font-size: 20px;
  color: #676767;
 }

 .marginnav{
  margin-right: 30px;
 }

 #txtBuscar{
  margin-right: 120px;
  height: 40px;
  padding: 20px;
 }

 #inav{
  font-size: 20px;
  padding-right: 25px;
  color: #676767;
 }

 #borde{
  border-style: solid;
  border-width: 5px;
 }

 .bg-light {
  background-color: #F1F1F1!important;
}

.seccion2Home{
  background-image: url("../img/seccion2.jpg");
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding:30px;
  overflow: hidden;
  margin-left: 230px;
  margin-top: 65px;
}

@media only screen and (max-width: 1110px) {
  .seccion2Home{
    background-image: url("../img/seccion2.jpg");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding:30px;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 65px;
  }
  
#PaginaPrincipal{
  color: rgba(134, 134, 134, 0.815); 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 18px;
  display: none;
 }
 #barra{
  display: none !important;
}
}
@media only screen and (max-width: 764px){
  #txtBuscar {
    margin-right: 120px;
    height: 40px;
    padding: 20px;
    display: none;
}
}
@media only screen and (max-width: 362px) {
  .marginnav {
    margin-right: 0px;
}
#inav {
  font-size: 20px;
  padding-right: 25px;
  color: #676767;
  display: none;
}
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  font-size: 16px;
  color: #9C9CB6;
}

.spannav{
  margin-right: 15px;
}

.sidebar .nav-link.active {
  color:rgb(106, 106, 112);
}

.sidebar .nav-link {
  font-weight: 500;
  color:rgb(106, 106, 112);
}

.navlink{
  color: rgba(158, 158, 158, 0.808)!important;
}

#derechos{
  margin-top: 30px;
  font-size: 11px;
}

.btn .btn-primary{
  color: white;
}

